<p *ngIf="location && location.name else nameLocation">
    U bent ingechecked in locatie: {{location.name}}
</p>
<ng-template #nameLocation>
    <h1>Location has not yet been named. </h1>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label for="locationName">Name:</label>
                <input type="text" name="location-name" placeholder="Location name"
                    id="locationName">
            </div>
            <button class="ui primary fluid button" type="button"
                (click)="nameLoc()">
                Name Location
            </button>
        </form>      
    </div>
</ng-template>